:root {
	--clr-primary-900: #995f4c;
	--clr-primary-800: #c57b27;
	--clr-primary-700: #e8ae02;
	--clr-primary-600: #cc2522;
}
body {
	background-color: var(--clr-primary-900);
}

header {
	align-items: center;
	display: flex;
	flex-direction: column;
	/* margin-bottom: 7em; */
}

h1 {
	font-size: 3em;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14em;
	margin-top: 7em;
}

#nav-bar {
	display: flex;
	text-align: center;
}

.nav-item-div {
	border: 2px solid black;
	margin: 0 0.5em;
	padding: 0.3em;
	border-radius: 12px;
	font-size: 1.25em;
}

.nav-item:hover {
	text-decoration: underline;
	cursor: pointer;
}

.diamond {
	width: 24.25em;
	height: 24.25em;
	transform: rotate(45deg);
	background: var(--clr-primary-800);
}

.menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 24.25em;
	height: 24.25em;
	transform: rotate(-45deg);
	background: var(--clr-primary-700);
}
.item-title {
	margin: 0.25em 0;
	font-size: 1.75em;
}

img {
	height: 12.875em;
	width: 14.875em;
}

.item-Description {
	text-align: center;
}
