:root {
	--clr-primary-900: #995f4c;
	--clr-primary-800: #c57b27;
	--clr-primary-700: #e8ae02;
	--clr-primary-600: #cc2522;
}
header {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4em;
}

#nav-bar {
	text-align: center;
	margin-bottom: 3em;
}

.menu-item {
	width: 100px;
	height: 100px;
	transform: rotate(-45deg);
	background: var(--clr-primary-700);
}

.diamond {
	width: 100px;
	height: 100px;
	transform: rotate(45deg);
	background: var(--clr-primary-600);
}

